@import 'variables';

#rock-paper-scissors {
  h1 {
    text-align: center;
    display: block;
  }
  nav {
    li {
      display: inline-block;
    }
    button {
      background: darken($dark-color, 10);
      margin-right: 5px;
    }

    #reset-game[aria-hidden="true"] {
      display: none;
    }
  }
}

#game-customization, #game {
  border: 1px lighten($dark-color, 30) solid;
  border-radius: 6px;
  padding: 0px 15px;
  margin-top: 10px;
  &[aria-hidden="true"] {
    display: none;
  }
}

#game-customization {
  fieldset {
    border: 0;
    padding: 0 0 20px;
  }

  h1 {
    font-size: 1.5em;
  }

  legend {
    font-weight: bold;
    width: 100%;
    border: 0;
    border-bottom: 1px lighten($dark-color, 30) solid;
    padding: 0 0 5px;
    color: lighten($dark-color, 60);
    margin: 10px 0;
  }

  button {
    display: block;
    margin: 15px 0 0;
    background: #419bf9;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
  }
}

#game {
  text-align: center;
  padding-bottom: 20px;
  .player {
    opacity: 0.5;
    margin-bottom: 5px;
  }

  #winner, #timer {
    font-size: 24px;
    margin: 20px;
  }

  i {
    margin: 5px auto;
  }

  #player2-options-header {
    margin: 10px;
    background: darken($dark-color, 10);
    padding: 5px 10px;
    border-radius: 4px;
  }

  #player2-options-wrapper .icon-selected i {
    border-radius: 99px;
    border: 4px #FFF solid;
  }

  #player2-options-wrapper {
    i {
      display: inline-block;
      border: 4px $dark-color solid;
    }
    &[aria-hidden="true"] {
      display: none;
    }
  }
}
