@import 'variables';

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: $dark-color;
	color: #FFF;

	main {
		width: 500px;
		margin: 20px auto;
	}

	a {
		color: white;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	button {
		border: none;
		border-radius: 4px;
		display: inline-block;
		padding: 5px 10px;
		color: #FFF;
		font-size: 14px;
	}

	.sprites {
		background-image: url(../images/sprites.png);
		background-size: 320px 64px;
	}

	i[class*="icon"] {
		display: block;
		width: 64px;
		height: 64px;
	}

	@each $option in $options {
		$i: index($options, $option);
		.icon-#{$option} {
			background-position: ($i - 1)*-64px 0;
		}
	}
}
